In [52]:
import pandas as pd
train_df = pd.read_csv('/Users/somdutta/bert/data/train_100.csv', header=None,dtype='unicode',na_values=['NAN'])
#train_df.replace(to_replace = pd.nan, value =-99999)
train_df.head()

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,0,1,532627591686275072,I Pooh - In silenzio 1968 http://t.co/ahvQxUqTws,"<a href=""http://www.facebook.com/twitter"" rel=...",24858289,NaN,0,0,NaN,...,NaN,NaN,NaN,0,1,0,Wed Nov 12 20:14:48 +0000 2014,2014-11-12 21:14:48,2014-11-12 21:44:09,2014-11-12 21:44:09
1,0,1,532624255058706432,http://t.co/HyI5EQKz6Q,"<a href=""http://www.facebook.com/twitter"" rel=...",24858289,NaN,0,0,NaN,...,NaN,NaN,NaN,0,1,0,Wed Nov 12 20:01:32 +0000 2014,2014-11-12 21:01:32,2014-11-12 21:44:09,2014-11-12 21:44:09
2,0,1,532513524460052480,"Tutti a tavola, con il filetto di baccalÃÂ . ...","<a href=""http://www.facebook.com/twitter"" rel=...",24858289,NaN,0,0,NaN,...,NaN,NaN,NaN,0,1,0,Wed Nov 12 12:41:32 +0000 2014,2014-11-12 13:41:32,2014-11-12 21:44:09,2014-11-12 21:44:09
3,0,1,532297646669852672,http://t.co/NAHQ4l2pUy,"<a href=""http://www.facebook.com/twitter"" rel=...",24858289,NaN,0,0,NaN,...,NaN,NaN,NaN,0,1,0,Tue Nov 11 22:23:43 +0000 2014,2014-11-11 23:23:43,2014-11-12 21:44:09,2014-11-12 21:44:09
4,0,1,532295960807100416,Gold - Spandau Ballet http://t.co/o8ZJHt7Neu,"<a href=""http://www.facebook.com/twitter"" rel=...",24858289,NaN,0,0,NaN,...,NaN,NaN,NaN,0,1,0,Tue Nov 11 22:17:01 +0000 2014,2014-11-11 23:17:01,2014-11-12 21:44:09,2014-11-12 21:44:09

In [53]:
train_df_bert = pd.DataFrame({
    'id':range(len(train_df)),
    'label':train_df[0],
    'alpha':['a']*train_df.shape[0],
    'text': train_df[2]  +" " + train_df[3]+" " +str(train_df[3]).replace('\n', ' ')+" " +str(train_df[4]).replace('\n', ' ')+" " +str(train_df[5]).replace('\n', ' ')+" "+str(train_df[6]).replace('\n', ' ')+" " +str(train_df[7]).replace('\n', ' ')+" " +str(train_df[8]).replace('\n', ' ')+" " +str(train_df[9]).replace('\n', ' ')+" " +str(train_df[10]).replace('\n', ' ')+" " +str(train_df[11]).replace('\n', ' ')+" " +str(train_df[12]).replace('\n', ' ')+" " +str(train_df[13]).replace('\n', ' ')+" " +str(train_df[14]).replace('\n', ' ')+" " +str(train_df[15]).replace('\n', ' ')+" " +str(train_df[16]).replace('\n', ' ')+" " +str(train_df[17]).replace('\n', ' ')+" " +str(train_df[18]).replace('\n', ' ')+" " +str(train_df[19]).replace('\n', ' ')+" " +str(train_df[20]).replace('\n', ' ')+" " +str(train_df[21]).replace('\n', ' ')+" " +str(train_df[22]).replace('\n', ' ')+" " +str(train_df[23]).replace('\n', ' ')+" " +str(train_df[24]).replace('\n', ' ')+" " +str(train_df[25]).replace('\n', ' ')
    #.replace(r'\n', ' ', regex=True)
    #'text': train_df[1]+" "+train_df[2]
})
#print(train_df[1].replace(r'\n', ' ', regex=True)+" "+train_df[2].replace(r'\n', ' ', regex=True)+" "+train_df[3].replace(r'\n', ' ', regex=True)+" "+train_df[4].replace(r'\n', ' ', regex=True)+" "+train_df[5].replace(r'\n', ' ', regex=True)+" "+train_df[6].replace(r'\n', ' ', regex=True)+" "+train_df[7].replace(r'\n', ' ', regex=True)+" "+train_df[8].replace(r'\n', ' ', regex=True)+" "+train_df[9].replace(r'\n', ' ', regex=True)+" "+train_df[10].replace(r'\n', ' ', regex=True)+" "+train_df[11].replace(r'\n', ' ', regex=True)+" "+train_df[12].replace(r'\n', ' ', regex=True)+" "+train_df[13].replace(r'\n', ' ', regex=True)+" "+train_df[14].replace(r'\n', ' ', regex=True)+" "+train_df[15].replace(r'\n', ' ', regex=True)+" "+train_df[16].replace(r'\n', ' ', regex=True)+" "+train_df[17].replace(r'\n', ' ', regex=True)+" "+train_df[18].replace(r'\n', ' ', regex=True)+" "+train_df[19].replace(r'\n', ' ', regex=True)+" "+train_df[20].replace(r'\n', ' ', regex=True)+" "+train_df[21].replace(r'\n', ' ', regex=True)+" "+train_df[22].replace(r'\n', ' ', regex=True)+" "+train_df[23].replace(r'\n', ' ', regex=True)+" "+train_df[24].replace(r'\n', ' ', regex=True)+" "+train_df[25].replace(r'\n', ' ', regex=True))
train_df_bert.head()

   id label alpha                                               text
0   0     0     a  532627591686275072 I Pooh - In silenzio 1968 h...
1   1     0     a  532624255058706432 http://t.co/HyI5EQKz6Q 0   ...
2   2     0     a  532513524460052480 Tutti a tavola, con il file...
3   3     0     a  532297646669852672 http://t.co/NAHQ4l2pUy 0   ...
4   4     0     a  532295960807100416 Gold - Spandau Ballet http:...

In [54]:
train_df_bert.to_csv('/Users/somdutta/bert/data/tsv/train_new.tsv', sep='\t', index=False, header=False)

In [56]:
import pandas as pd
dev_df = pd.read_csv('/Users/somdutta/bert/data/dev_100.csv', header=None,dtype='unicode')
dev_df.head()

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,0,1,410423738707226624,"Bene, ora io vado a suonare il pianoforte.","<a href=""http://www.raffaellasartin.it"" rel=""n...",1273207591,NaN,0,0,NaN,...,NaN,NaN,NaN,0,0,0,Tue Dec 10 15:00:19 +0000 2013,2013-12-10 16:00:19,2014-11-13 19:08:28,2014-11-13 19:08:28
1,0,1,410391678277914624,http://t.co/ZcWJs1gsR4,"<a href=""http://www.raffaellasartin.it"" rel=""n...",1273207591,NaN,0,0,NaN,...,NaN,NaN,NaN,0,1,0,Tue Dec 10 12:52:55 +0000 2013,2013-12-10 13:52:55,2014-11-13 19:08:28,2014-11-13 19:08:28
2,0,1,410350719703998464,E come disse Isaac Newton subito dopo che una ...,"<a href=""http://www.raffaellasartin.it"" rel=""n...",1273207591,NaN,0,0,NaN,...,NaN,NaN,NaN,0,0,0,Tue Dec 10 10:10:10 +0000 2013,2013-12-10 11:10:10,2014-11-13 19:08:28,2014-11-13 19:08:28
3,0,1,410307927812354048,http://t.co/d4VEDtgSIp,"<a href=""http://www.raffaellasartin.it"" rel=""n...",1273207591,NaN,0,0,NaN,...,NaN,NaN,NaN,0,1,0,Tue Dec 10 07:20:07 +0000 2013,2013-12-10 08:20:07,2014-11-13 19:08:28,2014-11-13 19:08:28
4,0,1,410306038756564992,http://t.co/PqmePdIP96,"<a href=""http://www.raffaellasartin.it"" rel=""n...",1273207591,NaN,0,0,NaN,...,NaN,NaN,NaN,0,1,0,Tue Dec 10 07:12:37 +0000 2013,2013-12-10 08:12:37,2014-11-13 19:08:28,2014-11-13 19:08:28

In [57]:
dev_df_bert = pd.DataFrame({
    'id':range(len(dev_df)),
    'label':dev_df[0],
    'alpha':['a']*dev_df.shape[0],
    'text': dev_df[2]  +" " + dev_df[3]+" " +str(dev_df[3]).replace('\n', ' ')+" " +str(dev_df[4]).replace('\n', ' ')+" " +str(dev_df[5]).replace('\n', ' ')+" "+str(dev_df[6]).replace('\n', ' ')+" " +str(dev_df[7]).replace('\n', ' ')+" " +str(dev_df[8]).replace('\n', ' ')+" " +str(dev_df[9]).replace('\n', ' ')+" " +str(dev_df[10]).replace('\n', ' ')+" " +str(dev_df[11]).replace('\n', ' ')+" " +str(dev_df[12]).replace('\n', ' ')+" " +str(dev_df[13]).replace('\n', ' ')+" " +str(dev_df[14]).replace('\n', ' ')+" " +str(dev_df[15]).replace('\n', ' ')+" " +str(dev_df[16]).replace('\n', ' ')+" " +str(dev_df[17]).replace('\n', ' ')+" " +str(dev_df[18]).replace('\n', ' ')+" " +str(dev_df[19]).replace('\n', ' ')+" " +str(dev_df[20]).replace('\n', ' ')+" " +str(dev_df[21]).replace('\n', ' ')+" " +str(dev_df[22]).replace('\n', ' ')+" " +str(dev_df[23]).replace('\n', ' ')+" " +str(dev_df[24]).replace('\n', ' ')+" " +str(dev_df[25]).replace('\n', ' ')
    #.replace(r'\n', ' ', regex=True)
    #'text': train_df[1]+" "+train_df[2]
})
#print(train_df[1].replace(r'\n', ' ', regex=True)+" "+train_df[2].replace(r'\n', ' ', regex=True)+" "+train_df[3].replace(r'\n', ' ', regex=True)+" "+train_df[4].replace(r'\n', ' ', regex=True)+" "+train_df[5].replace(r'\n', ' ', regex=True)+" "+train_df[6].replace(r'\n', ' ', regex=True)+" "+train_df[7].replace(r'\n', ' ', regex=True)+" "+train_df[8].replace(r'\n', ' ', regex=True)+" "+train_df[9].replace(r'\n', ' ', regex=True)+" "+train_df[10].replace(r'\n', ' ', regex=True)+" "+train_df[11].replace(r'\n', ' ', regex=True)+" "+train_df[12].replace(r'\n', ' ', regex=True)+" "+train_df[13].replace(r'\n', ' ', regex=True)+" "+train_df[14].replace(r'\n', ' ', regex=True)+" "+train_df[15].replace(r'\n', ' ', regex=True)+" "+train_df[16].replace(r'\n', ' ', regex=True)+" "+train_df[17].replace(r'\n', ' ', regex=True)+" "+train_df[18].replace(r'\n', ' ', regex=True)+" "+train_df[19].replace(r'\n', ' ', regex=True)+" "+train_df[20].replace(r'\n', ' ', regex=True)+" "+train_df[21].replace(r'\n', ' ', regex=True)+" "+train_df[22].replace(r'\n', ' ', regex=True)+" "+train_df[23].replace(r'\n', ' ', regex=True)+" "+train_df[24].replace(r'\n', ' ', regex=True)+" "+train_df[25].replace(r'\n', ' ', regex=True))
train_df_bert.head()

   id label alpha                                               text
0   0     0     a  532627591686275072 I Pooh - In silenzio 1968 h...
1   1     0     a  532624255058706432 http://t.co/HyI5EQKz6Q 0   ...
2   2     0     a  532513524460052480 Tutti a tavola, con il file...
3   3     0     a  532297646669852672 http://t.co/NAHQ4l2pUy 0   ...
4   4     0     a  532295960807100416 Gold - Spandau Ballet http:...

In [58]:
dev_df_bert.to_csv('/Users/somdutta/bert/data/tsv/dev_new.tsv', sep='\t', index=False, header=False)